<style>

</style>

<div [style.font-size.px]="prefs().fontSize" [class]="prefs().theme">


    <form  [style.font-size.px]="prefs().fontSize">
        <div>
            <label>Theme settings:  </label>
            <label>
                <span>Light theme</span>
                <input type="radio" name="theme" value="light" [ngModel]="prefs().theme" (ngModelChange)="updatePrefs({ theme: 'light' })"/>
            </label>
            <label>
                <span>Dark theme</span>
                <input type="radio" name="theme" value="dark" [ngModel]="prefs().theme" (click)="prefs().theme !== 'dark' && updatePrefs({ theme: 'dark' })"/>
            </label>
        </div>
        <div>
            <label>Font settings:  {{ prefs().fontSize }} </label>
            <button type="button" (click)="updatePrefs({ fontSize: prefs().fontSize + 2})" >font-size: + 2</button>
            <button type="button" (click)="updatePrefs({ fontSize: prefs().fontSize - 2})" >font-size: - 2</button>
            <button type="button" (click)="prefs().fontSize !== 16 && updatePrefs({ fontSize: 16 })" >font-size: default</button>
        </div>
        <div>
            <label>Last Channel Id:  </label>
            <input type="number" disabled name="display" [value]="prefs().lastChannelId"/>
            <input type="number" #channelInput />
            <button type="button" (click)="channelInput.value && updatePrefs({ lastChannelId: channelInput.valueAsNumber })">update</button>
        </div>
    </form>
</div>