<div [style.font-size.px]="prefs().fontSize" [class]="prefs().theme" class="pg-body">
  <h2>Playground component</h2>
  <form [style.font-size.px]="prefs().fontSize" class="container-master">
    <div>
      <h3>Theme settings:</h3>
      <div class="container">
        <div class="radio" (click)="prefs().theme !== 'light' && updatePrefs({ theme: 'light' })">
          <span>Light theme</span>
          <input type="radio" name="theme" value="light" [ngModel]="prefs().theme" />
        </div>

        <div class="radio" (click)="prefs().theme !== 'dark' && updatePrefs({ theme: 'dark' })">
          <span>Dark theme</span>
          <input type="radio" name="theme" value="dark" [ngModel]="prefs().theme" />
        </div>
      </div>
    </div>

    <div class="container">
      <div>
        <h3>Font settings: {{ prefs().fontSize }}</h3>
      </div>
      <div class="button-group">
        <button
          type="button"
          (click)="updatePrefs({ fontSize: prefs().fontSize - 2 })"
          [style.font-size.px]="prefs().fontSize - 2 - 2"
        >
          font-size: - 2
        </button>
        <button
          type="button"
          [style.font-size.px]="16 - 2"
          (click)="prefs().fontSize !== 16 && updatePrefs({ fontSize: 16 })"
        >
          font-size: default
        </button>

        <button
          type="button"
          [style.font-size.px]="prefs().fontSize + 2 - 2"
          (click)="updatePrefs({ fontSize: prefs().fontSize + 2 })"
        >
          font-size: + 2
        </button>
      </div>
    </div>
    <div class="container">
      <div><h3>Last Channel Id:</h3></div>
      <div class="channel-input-group">
        <input type="number" disabled name="display" [value]="prefs().lastChannelId" />
        <input type="number" #channelInput [value]="prefs().lastChannelId" />
        <div class="arrow-container">
          <button (click)="channelInput.value = (channelInput.valueAsNumber + 1).toString()">↑</button>
          <button (click)="channelInput.value = (channelInput.valueAsNumber - 1).toString()">↓</button>
        </div>

        <button
          type="button"
          (click)="channelInput.value && updatePrefs({ lastChannelId: channelInput.valueAsNumber })"
        >
          update
        </button>
      </div>
      <br />
      <div>
        <h3>LocalStorage stored state</h3>
        <div class="container">
          <code>{{ jsonPrefs() }}</code>
        </div>
      </div>
    </div>
  </form>

  <hr /><br /><br />

  <h2>Observable practice: Task 4-1</h2>
  <div class="container-master">
    <div class="container">
      <h3>Preparation</h3>
      <div></div>
      <p>attempt 0 - set up the most basic Observable</p>
      <button (click)="subscribeNumbers()">Subscribe stream</button>
    </div>

    <div class="container">
      <h3>PART A</h3>
      <p>Order of operation</p>
      <div class="container">
        <p>
          1. observable is set as a clickable function that subscribes the stream and runs the observer with three
          methods
        </p>
        <button (click)="partA1()">Subscribe stream</button>
      </div>
      <div class="container">
        <p>2. same thing but without a subscribe does not run the observable.</p>
        <button (click)="partA2()">Stream without subscribe</button>
      </div>

      <br />

      <h3>PART B - Stream in timeline</h3>
      <div class="container">
        <p>
          1. This is an attempt to use the <code>interval()</code> from RxJS. It does not stop until either one happens:
        </p>

        <p><code>setTimeout(()=> , N_ms)</code> is unsubscribing the subscription stored in an own variable manually</p>

        <p><code>.pipe(take(N))</code>: takes N of values from the interval stops it once fulfilled</p>
        <div class="action-group">
          <button (click)="partB1()">Subscribe to interval with setTimeout</button>
          <button (click)="partB1_1()">Subscribe to interval with .pipe(take(n))</button>
        </div>
      </div>

      <h3>PART C - Error Stream</h3>
      <div class="container">
        <p>This one subscribes to the error stream knowingly</p>

        <div class="action-group">
          <button (click)="partC1()">Sub to error stream</button>
          <button (click)="partC2()">Sub to a finalized error stream</button>
        </div>
      </div>

      <h3>PART D - First Http requests</h3>
      <div class="container">
        <p>Now we are communicating with the server at localhost:3000</p>

        <div class="action-group">
          <button (click)="partD1()">Sub to health api request</button>
          <button (click)="partD2()">Sub to unknown api req</button>
          <button (click)="partD3()">Sub to cached api</button>
        </div>
      </div>
    </div>
  </div>

  <app-console></app-console>
</div>
