<div class="sidebar">
  <div class="sidebar-header">Channels: {{ cs.channelCount() }}</div>
  <ul>
    @for (chan of cs.channels(); track chan.id) {
      <li>
        <a routerLink="/channels" (click)="cs.select(chan.id)">{{ chan.name }}</a>
        <button (click)="cs.remove(chan.id)">x</button>
      </li>
    }
  </ul>

  <form>
    <p>create new channel</p>
    <input value="" name="chanName" #chName />
    <button type="button" (click)="cs.add(chName.value)">Create</button>
  </form>
</div>
