section {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 280px;
}

button {
  width: fit-content;
}
